body {
    font-family: sans-serif;
	background-color: #E3E7EA;
	color: #1C1E27;
}

a {
	color: #1C1E27;
}

.bar {
	font-style: sans-serif;
	color: #1C1E27;
	text-decoration: none;
}

.rc-slider-track {
  background-color: #F27405;
  border-color: #F27405;
  border: solid 2px #F27405;
}

.rc-slider-dot-active {  
  border-color: #F27405;
  border: solid 2px #F27405;
}

.rc-slider-handle {
  border-color: #F27405;
  border: solid 2px #F27405;
}

.rc.slider-handle:hover {
  border-color: #F27405;
  border: solid 2px #F27405;
}

.rc.slider-handle-active:active {
  border-color: #F27405;
  border: solid 2px #F27405;
}
